@media screen and (min-height:812px){ 
    .titulo{
        font-size:120px;

    }
    .subtitulo{
        font-size:40px;
    }
}

@media screen and (max-width:838px){
    .titulo{
        font-size: 50px;
    }
    .subtitulo{
        font-size:15px;
    }
}
@media screen and (max-width:708px){
    .titulo{
        font-size: 45px;
    }
   
}
@media screen and (max-width:652px){
    .titulo{
        font-size: 40px;
    }
}
@media screen and (max-width:494px){
    .titulo{
        font-size: 35px;
    }
}

@media screen and (max-width:525px){
    .subtitulo{
        font-size: 14px;
    }
}
@media screen and (max-width:413px){
    .titulo{
        font-size:29px
    }
    
}
/* @media screen and (max-width:360px){
    .titulo{
        font-size:29px
    }
    .subtitulo{
        font-size: 13px;
    }
} */
 @media screen and (max-width:349px){


    .subtitulo{
        font-size: 12px;
    }
} 
/* @media screen and (max-width:329px){

    .subtitulo{
        font-size: 11px;
    }
} */
@media screen and (max-width:323px){

    .subtitulo{
        font-size: 12px;
    }
    .titulo{
        font-size:26px
    }
}
@media screen and (max-width:301px){

    .subtitulo{
        font-size: 11px;
    }
}
@media screen and (max-width:277px){

    .subtitulo{
        font-size: 10px;
    }
}
@media screen and (max-width:253px){
.titulo{
    font-size:22px;
}
}
@media screen and (max-width:235px){
    .subtitulo{
        font-size:9.5px;
    }
    }
 @media screen and (max-width:174px){
        .titulo{
            font-size:20px;
        }
        .subtitulo{
            font-size:9px;
        }
        }
@media screen and (max-width:147px){
            .titulo{
                font-size:16px;
            }
            .subtitulo{
                font-size:8.5px;
            }
        }
        @media screen and (max-width:117px){
            .titulo{
                font-size:14px;
            }
            .subtitulo{
                font-size:7px;
            }
        }
        @media screen and (max-width:104px){
            .titulo{
                font-size:9px;
            }
            .subtitulo{
                font-size:7px;
            }
        }