@media screen and (max-width:600px){ 
    .tit{
        font-size:33px;

    }
}
@media screen and (max-width:400px){ 
    .tit{
        font-size:30px;
    }
    .subt{
        font-size: 20px;
    }
}
@media screen and (max-width:344px){ 
    .subt{
        font-size:17px;

    }
}
@media screen and (max-width:320px){ 
    .tit{
        font-size:27px;

    }
}
@media screen and (max-width:298px){ 
    .tit{
        font-size:25px;

    }
    .subt{
        font-size: 18px;
    }
}

